* {
    margin: 0;
    padding: 0;
    color: black;
}

div {
    font-size: 16px;
}

#content-header {
    font-size: 3em;
}

a {
    color: deepskyblue;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: crimson;
    text-decoration: underline;
    background-color: aquamarine;
}

.box {
    margin: 30px auto;
    padding: 30px;
    border: 1px solid black;
    width: 400px;
    height: 200px;
}
