* {
    margin: 0;
    padding: 0;
    color: black;
}

#main-content {
    background-color: aliceblue;
    width: 80%;
    margin: 0 auto;
    padding: 2%;
    height: 100%;
}

#content-header {
    font-size: 3em;
}

a {
    color: deepskyblue;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    border: 2px solid mediumvioletred;
    border-radius: 5px 10px;
    display: inline-block;

}

a:hover {
    text-decoration: underline;
    background-color: aquamarine;
}

.box {
    margin: 30px auto;
    padding: 30px;
    border: 1px solid black;
    width: 400px;
    height: 200px;
}

.block {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

.inline {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    display: inline-block;
}